{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"func-name-matching": "off",
		"func-style": "off",
		"id-length": "off",
		"max-lines-per-function": "off",
		"multiline-comment-style": "off",
		"new-cap": ["error", {
			"capIsNewExceptions": [
				"CreateMethodProperty",
				"CreateNonEnumerableDataPropertyOrThrow",
				"DefinePropertyOrThrow",
				"Get",
				"GetIntrinsic",
				"HasProperty",
				"InstallErrorCause",
				"Error",
				"AggregateError",
				"EvalError",
				"RangeError",
				"ReferenceError",
				"SyntaxError",
				"ToString",
				"TypeError",
				"Type",
				"URIError",
			],
		}],
	},
}
